.App {
  padding: 2rem;
  justify-content: center;
  align-items: center;

  --primary: cornflowerblue;
  --primary-darker: rgb(82, 128, 214);
  --inactive-border: #aaa;
  --background: #fff;
  --background-darker: #eee;
  --foreground: #333;

  color: var(--foreground);
  background: var(--background);
}

@media (prefers-color-scheme: dark) {
  .App {
    --background: #1b1b2a;
    --background-darker: #25252f;
    --foreground: #f5f5f5;

    --inactive-border: #999;
  }
}

.Title {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.Form {
  display: flex;
  flex-direction: column;
}

.InputField {
  margin-bottom: 0.5rem;

  color: var(--foreground);
  background-color: var(--background-darker);

  min-width: 275px;

  padding: 0.5rem 1rem;
  text-align: center;

  border-radius: 2rem;
  border: none;
  font-weight: 500;

  transition: color 0.2s ease-out;
}

.InputField::placeholder {
  color: var(--inactive-border);
}

.SubmitButton {
  background-color: var(--primary);
  color: var(--background);

  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border: none;

  font-weight: 500;

  cursor: pointer;
  transition: background-color 0.2s ease-out;
}

.SubmitButton:hover,
.SubmitButton:focus {
  background-color: var(--primary-darker);
}

.QR {
  height: 275px;
  width: 275px;
  aspect-ratio: 1;
  flex-shrink: 0;
}

@media (min-width: 800px) {
  .App {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    box-sizing: border-box;
  }

  .QR {
    align-self: center;
  }

  .Form {
    justify-content: center;
  }
}
