.Form {
  display: flex;
  flex-direction: column;
}

.QR {
  height: 275px;
  width: 275px;
  aspect-ratio: 1;
  flex-shrink: 0;
}

@media (min-width: 800px) {
  .QR {
    align-self: center;
  }

  .Form {
    justify-content: center;
  }
}
